<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理员主页</title>
</head>

<body>
<div class="container">
    <form action="/managerstudent">
        <button type="submit">管理学生信息</button>
    </form>
    <form action="/managerteacher" method="get">
        <button type="submit">管理教师信息</button>
    </form>
    <form action="/managercourse" method="get">
        <button type="submit">管理课程信息</button>
    </form>
    <form action="/managerspe" method="get">
        <button type="submit">管理专业信息</button>
    </form>
</div>
</body>

</html>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        width: 400px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }

    button {
        margin-bottom: 16px;
    }
</style>