<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理员主页</title>
</head>

<body>
    <form action="/managerstudent">
        <button type="submit">管理学生信息</button>
    </form>
    <form action="/managerteacher" method="get">
        <button type="submit">管理教师信息</button>
    </form>
    <form action="/managercourse" method="get">
        <button type="submit">管理课程信息</button>
    </form>
    <form action="/managerspe" method="get">
        <button type="submit">管理专业信息</button>
    </form>
</body>

</html>