<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理学生信息</title>
</head>

<body>
    <form action="/addStudent" method="post">
        <button type="submit">添加学生</button>
    </form>
    <form action="/delStudent" method="post">
        <button type="submit">删除学生</button>
    </form>
    <form action="/adminstudentlist" method="get">
        <button type="submit">查询学生信息</button>
    </form>
    <form action="/addCourse" method="get">
        <button type="submit">修改学生信息</button>
    </form>
</body>

</html>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        width: 400px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }

    button {
        margin-bottom: 16px;
    }
</style>