<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理学生信息</title>
</head>

<body>
    <form action="/courseList" method="get">
        <button type="submit">添加学生</button>
    </form>
    <form action="/addCourse" method="get">
        <button type="submit">删除学生</button>
    </form>
    <form action="/addCourse" method="get">
        <button type="submit">查询学生信息</button>
    </form>
    <form action="/addCourse" method="get">
        <button type="submit">修改学生信息</button>
    </form>
</body>

</html>