<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理课程信息</title>
</head>

<body>
<div class="container">
    <form action="/openCourse" method="get">
        <button type="submit">添加课程</button>
    </form>
    <form action="/delCourse" method="post">
        <button type="submit">删除课程</button>
    </form>
    <form action="/adminCourselist" method="get">
        <button type="submit">查询课程信息</button>
    </form>
    <form action="/update_course" method="get">
        <button type="submit">修改课程信息</button>
    </form>
</div>
</body>

</html>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        width: 400px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }

    button {
        margin-bottom: 16px;
    }
</style>