<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加教师</title>
</head>

<body>

<table>
    <form action="/NewTeacher" method="post">
        <tr>
            <td>教师工号</td>
            <td><input type="text" name="tId"></td>
        </tr>

        <tr>
            <td>教师姓名</td>
            <td><input type="text" name="tName"></td>
        </tr>

        <tr>
            <td>教师性别</td>
            <td><input type="text" name="tSex"></td>
        </tr>
        <tr>
            <td>教师年龄</td>
            <td><input type="text" name="tAge"></td>
        </tr>
        <tr>
            <td>教师归属专业</td>
            <td><input type="text" name="tSpe"></td>
        </tr>

        <tr>
            <td><input type="submit" value="添加教师"></td>
        </tr>

    </form>


    <form action="/admin/admin" method="get">
        <button type="submit">返回主页</button>
    </form>

</table>

</body>

</html>
