<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>开设专业</title>
</head>

<body>
    <form action="/openSpe" method="post">
        <table>
            <tr>
                <td>专业号</td>
                <td><input type="text" name="spe_id"></td>
            </tr>
            <tr>
                <td>专业名称</td>
                <td><input type="text" name="spe_name"></td>
            </tr>
            <tr>
                <td><input type="submit" value="开设专业"></td>
            </tr>
        </table>
    </form>
</body>