<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>开设课程</title>
</head>

<body>
<form action="/openCourse" method="post">
    <table>
        <tr>
            <td>课号</td>
            <td><input type="text" name="cId"></td>
        </tr>
        <tr>
            <td>课程名称</td>
            <td><input type="text" name="cName"></td>
        </tr>
        <tr>
            <td>课程学分</td>
            <td><input type="text" name="cCredit"></td>
        </tr>
        <tr>
            <td>教室地址</td>
            <td><input type="text" name="rId"></td>
        </tr>
        <tr>
            <td>授课教师工号</td>
            <td><input type="text" name="tId"></td>
        </tr>
        <tr>
            <td>课程时间</td>
            <td><input type="text" name="tTime"></td>
        </tr>
        <tr>
            <td><input type="submit" value="开设课程"></td>
        </tr>

    </table>
</form>

<form action="/admin/admin" method="get">
    <button type="submit">返回主页<tton>
</form>
</body>
<ml>
