<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div class="container">
    <h1 th:text="'登录'"></h1>
    <form action="/login" method="post">
        <label for="user_id">账号:</label>
        <input type="text" id="user_id" name="user_id" /><br/>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" /><br/>
        <input type="submit" value="登录" />
    </form>
</div>
</body>
</html>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        width: 400px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    label {
        display: block;
        margin-top: 16px;
    }
    input {
        margin-bottom: 16px;
    }
</style>
