<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AdminMapper">

    <!-- 学生 -->

    <insert id="Newstudent">
        INSERT INTO student (s_id,s_name, s_sex, s_age, s_spe)
        VALUES (#{student_id}, #{student_name}, #{student_sex}, #{student_age}, #{student_spe})
    </insert>

    <update id="updateStudent">
        UPDATE student set
                           s_id = #{student_id},
                           s_name = #{student_name},
                           s_sex = #{student_sex},
                           s_age = #{student_age},
                           s_spe = #{student_spe},
                           WHERE s_id = #{student_id}
    </update>

    <select id="getAllStudent" resultType="com.example.demo.entity.Student">
        select s_id,s_name, s_sex, s_age, s_spe from student
    </select>

    <delete id="deletestudent">
        delete from student where s_id =#{student_id}
    </delete>
    <delete id="deleteuser">
        delete from user where user_id =#{user_id}
    </delete>

    <!-- 教师 -->

    <insert id="NewTeacher">
        INSERT INTO teacher (t_id,t_name, t_sex, t_age, t_spe)
        VALUES (#{teacher_id}, #{teacher_name}, #{teacher_sex}, #{teacher_age}, #{teacher_spe})
    </insert>

    <update id="updateTeacher">
        UPDATE student set
                           t_id = #{teacher_id},
                           t_name = #{teacher_name},
                           t_sex = #{teacher_sex},
                           t_age = #{teacher_age},
                           t_spe = #{teacher_spe},
                           WHERE t_id = #{teacher_id}
    </update>

    <select id="getAllTeacher" resultType="com.example.demo.entity.Teacher">
        select * from teacher
    </select>

    <delete id="deleteteacher">
        delete from teacher where t_id =#{teacher_id}
    </delete>
    <delete id="deleteuser1">
        delete from user where user_id =#{user_id}
    </delete>

    <!-- 课程 -->

    <select id="getAllCourses" resultType="com.example.demo.entity.Course">
        select c_id,c_name,c_credit,r_id,t_id,t_name,t_time from course
    </select>

    <!-- 专业 -->

    <insert id="NewSpe">
        INSERT INTO spe (spe_id,spe_name)
        VALUES (#{speId}, #{speName})
    </insert>

    <update id="updateSpe">
        UPDATE spe set
                       spe_id = #{speId},
                       spe_name = #{speName}
        WHERE spe_id = #{speId}
    </update>

    <select id="getAllSpe" resultType="com.example.demo.entity.Spe">
        select * from Spe
    </select>

    <delete id="deleteSpe">
        delete from Spe where spe_id =#{speId}
    </delete>

</mapper>