<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CourseMapper">
    <insert id="insertSc" >
        INSERT INTO grade (s_id, c_id,c_grade)
        VALUES (#{sId}, #{cId}, #{cGrade})
    </insert>
    <delete id="deleteSc">
        delete from grade where s_id =#{sId} AND c_id =#{cId}
    </delete>

    <select id="getAllCourse" resultType="com.example.demo.entity.Course">
        select course.c_id,c_name,c_credit,r_id,course.t_id,t_time,teacher.t_name from course,teacher where course.t_id = teacher.t_id EXCEPT (select course.c_id,c_name,c_credit,r_id,course.t_id,t_time,teacher.t_name from grade,course,teacher where grade.c_id=course.c_id AND grade.s_id=1001 AND teacher.t_id=course.t_id)
    </select>
    <select id="getMyCourse" resultType="com.example.demo.entity.Course">
        select course.c_id,c_name,c_credit,r_id,course.t_id,t_name,t_time from grade,course,teacher where grade.c_id=course.c_id AND grade.s_id=#{sId} AND teacher.t_id=course.t_id
    </select>
    <select id="getMycj" resultType="com.example.demo.entity.Course">
        select course.*,teacher.t_name,grade.c_grade from grade,course,teacher where grade.c_id=course.c_id AND grade.s_id=#{sId} AND teacher.t_id=course.t_id
    </select>

</mapper>
