<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SpeMapper">

    <insert id="NewSpe">
        INSERT INTO spe (spe_id,spe_name)
        VALUES (#{spe_id}, #{spe_name})
    </insert>

    <update id="updateSpe">
        UPDATE spe set
                           spe_id = #{spe_id},
                           spe_name = #{spe_name},
                           WHERE spe_id = #{spe_id}
    </update>

    <select id="getAllSpe" resultType="com.example.demo.entity.Spe">
        select * from Spe
    </select>

    <delete id="deleteSpe">
        delete from Spe where spe_id =#{spe_id}
    </delete>

</mapper>